<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/abe89cc2a8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/deleteLivro.css">
    <script src="js/deleteLivro.js" defer></script>
</head>
<body>

    <header>
        <div class="cabecalho">
            <div class="arrow">
                <a href="home.html"><img src="images/seta-esquerda.png" /></a>
            </div>
            <div class="title">
                <h1>DELETE</h1>
            </div>
            <div class="logout">
                <a href="login.html"><img src="images/sair.png"></a>
            </div>
        </div>
    </header>
    
    
    <div class="container">
        <table class="card color" border="1">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Autor</th>
                    <th>Gênero</th>
                    <th>Data de Publicação</th>
                    <th>Editora</th>
                    <th>Excluir</th>
                </tr>
                <% livros.forEach(livro => { %>
                    <tr>
                        <td><%= livro.id %></td>
                        <td><%= livro.name %></td>
                        <td><%= livro.author %></td>
                        <td><%= livro.genero %></td>
                        <td><%= formatDate(livro.data_publicacao) %></td>
                        <td><%= livro.editora %></td>
                        <!--na linha abaixo esta acusando erro porem funciona. o erro acontece pelo interpretador do navegador que nao entende o ejs porem o renderiza do mesmo jeito.-->
                        <td><a href="javascript:void(0);" onclick="confirmarExclusao(<%= livro.id %>, '<%= livro.name %>')"><i class="fa-solid fa-trash-can"></i></a></td>
                        
                    </tr>
                <% }); %>
        </table>
    </div>    

    <% function formatDate(date) {
        if (!date) return '';
        const dateObject = new Date(date);
        const timezoneOffset = dateObject.getTimezoneOffset();
        dateObject.setMinutes(dateObject.getMinutes() + timezoneOffset);
        const options = { timeZone: 'America/Sao_Paulo', year: 'numeric', month: '2-digit', day: '2-digit' };
        const formattedDate = dateObject.toLocaleDateString('pt-BR', options);
        return formattedDate;
    } %>
    <footer>
        <p>Todos os direitos reservados - &copy; 2023</p>
    </footer>
</body>
</html>